@import "./mixins.scss";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

$black: #2c2d35;

body {
  background-color: #f4f6f5;
}

.container {
  padding: 0 15px;

  @include onDesktop {
    padding: 0;
    margin: 0px auto;
    max-width: 1100px;
  }
}

.header {
  &__top {
    padding: 17px 15px 16px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onDesktop {
      align-items: center;
      margin: 0px auto;
      max-width: calc(1440px - 165px - 165px);
      padding: 33px 15px 32px 15px;
      flex-direction: row;
      background-color: #e1ede6;
    }

    &-container {
      @include onDesktop {
        background-color: #e1ede6;
      }
    }
  }

  &__actions {
    margin: 0 -15px;
    padding: 16px 15px;
    background-color: #e1ede6;
    display: flex;
    justify-content: space-between;

    @include onDesktop {
      gap: 60px;
      justify-content: flex-start;
    }
  }

  &__menu {
    display: block;
    background-image: url("../images/List.svg");
    height: 17px;
    width: 20px;
    background-size: cover;

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__buy {
    display: block;
    background-image: url("../images/cart.svg");
    height: 24px;
    width: 24px;
  }

  &__text {
    color: #86928b;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;

    /* 21px */
    @include onDesktop {
      font-size: 18px;
      margin-bottom: 60px;
    }
  }

  &__title {
    color: #2c2d35;
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 20px;

    /* 40px */
    &--green {
      color: #598d66;
    }

    @include onDesktop {
      font-size: 40px;
    }
  }

  &__image {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__link {
    color: $black;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;

    &-item {
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;

    @include onDesktop {
      margin: 0;
    }

    width: 143px;
    height: 35px;
  }

  &__button {
    display: flex;
    width: 154px;
    height: 50px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    color: #598d66;
  }

  &__bottom {
    align-items: center;
    width: 100%;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    position: relative;

    &--desktop {
      @include onDesktop {
        @include grid(12);
      }
    }
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }
}

.reproduction {
  margin-top: 60px;

  @include onDesktop {
    margin-top: 70px;
  }

  &__title {
    color: #2c2d35;
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;

    /* 26.4px */
    @include onDesktop {
      color: #2c2d35;
      font-family: Raleway;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      /* 44px */
    }
  }

  &__top {
    overflow: hidden;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: hidden;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-bottom: 30px;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;

    @include onDesktop {
      gap: 32px;
    }

    &-button {
      color: #f4f6f5;
      font-size: 18px;
      font-weight: 500;
      border: none;
      color: #2c2d35;
      display: flex;
      padding: 10px 20px;
      border-radius: 20px;
      background: #d4e8d9;

      @include onDesktop {
        font-size: 20px;
      }

      &--active {
        color: #f4f6f5;
        background: #376b44;
      }
    }
  }

  &__card {
    width: 100%;
    padding: 20px 20px 30px 20px;
    background-color: #e1ede6;

    &-author {
      margin-top: 15px;
      color: #86928b;
      font-size: 16px;
      font-weight: 500;

      @include onDesktop {
        font-size: 18px;
      }
    }

    &-name {
      margin: 10px 0;
      color: #2c2d35;
      font-size: 24px;
      font-weight: 500;

      @include onDesktop {
        font-size: 30px;
      }
    }

    &-materials {
      color: #2c2d35;
      font-size: 16px;
      font-weight: 500;

      @include onDesktop {
        font-size: 18px;
      }
    }

    &-price {
      margin-top: 30px;
      margin-bottom: 10px;
      color: #598d66;
      font-size: 20px;
      font-weight: 500;

      @include onDesktop {
        font-size: 24px;
      }
    }

    &-image {
      width: 100%;
    }

    &-btn {
      display: flex;
      width: 100%;
      height: 50px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      flex-shrink: 0;
      border: 1px solid #598d66;
      color: #598d66;
      font-size: 18px;
      font-weight: 500;
      background-color: transparent;

      @include onDesktop {
        height: 65px;
        font-size: 20px;
      }
    }
  }
}

.description {
  margin-top: 60px;
  background-image: url("../images/desc_background.png");
  background-size: auto 100%;
  padding: 50px 0;

  @include onDesktop {
    margin-top: 70px;
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__top {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  &__image {
    width: 50px;
    height: 50px;

    @include onDesktop {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    color: #f4f6f5;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;

    @include onDesktop {
      font-size: 40px;
    }
  }

  &__text {
    margin: 20px 0 30px 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;

    @include onDesktop {
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    background: #eedb6d;
    border: none;

    color: #2c2d35;
    font-size: 18px;
    font-weight: 500;

    @include onDesktop {
      display: inline-flex;
      height: 65px;
      padding: 20px 60px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      flex-shrink: 0;
    }
  }
}

.team {
  margin: 50px 0;

  @include onDesktop {
    margin: 70px 0;
  }

  &__title {
    color: #2c2d35;
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    /* 44px */
    margin-top: 30px;
    @include onDesktop {
      margin-top: 124px;
      font-size: 40px;
    }
  }

  &__text {
    color: #2c2d35;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
    margin: 20px 0;
    @include onDesktop {
      font-size: 18px;
    }
  }

  &__image {
    width: 100%;
  }

  &__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include onDesktop {
      gap: 30px;
      justify-content: flex-start;
    }
  }
}

.footer {
  &__title {
    color: #2c2d35;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &--small {
      font-size: 16px;
    }
  }

  &__nav {
    display: flex;
    @include onDesktop {
      gap: 60px;
    }
  }
  &__list {
    list-style: none;
    color: #86928b;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 27px */
    @include onDesktop {
      font-size: 18px;
    }
  }

  &__links {
    &-box{
        display: flex;
        flex-direction: row;  
        gap: 30px;
    }
}

  &__link {
    display: block;
   
    width: 24px;
    height: 24px;
  
    &--youtube {
      background-image: url("../images/youtube.svg");
    }
    &--instagram {
      background-image: url("../images/instagram.svg");
    }

    &--facebook {
      background-image: url("../images/facebook.svg");
    }
  }

}
